name: Wisecow CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./WISECOW-DEPLOYMENT-wisecow
          file: ./WISECOW-DEPLOYMENT-wisecow/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/wisecow:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Update kubeconfig for wisecow-cluster
        run: |
          aws eks update-kubeconfig \
            --name wisecow-cluster \
            --region ap-south-1

      - name: Deploy to EKS
        run: |
          kubectl apply --validate=false -f WISECOW-DEPLOYMENT-wisecow/k8s/deployment.yaml
          kubectl apply --validate=false -f WISECOW-DEPLOYMENT-wisecow/k8s/service.yaml
