jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'v1.30.0'

      - name: Configure kubectl for EKS
        run: |
          aws eks update-kubeconfig \
            --name wisecow-cluster \
            --region ap-south-1

      - name: Deploy Wisecow
        run: |
          kubectl apply -f WISECOW-DEPLOYMENT-wisecow/k8s/deployment.yaml
